<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>starName</key>
		<string>白羊座</string>
		<key>intro</key>
		<string>白羊座符号象征着新的开始</string>
		<key>emotion1</key>
		<string>热情</string>
		<key>emotion2</key>
		<string>冲动</string>
		<key>emotion3</key>
		<string>自信</string>
		<key>age</key>
		<string>婴儿</string>
	</dict>
	<dict>
		<key>starName</key>
		<string>金牛座</string>
		<key>intro</key>
		<string>白羊座符号象征着新的开始</string>
		<key>emotion1</key>
		<string>固执</string>
		<key>emotion2</key>
		<string>耐心</string>
		<key>emotion3</key>
		<string>慢郎中</string>
		<key>age</key>
		<string>幼儿</string>
	</dict>
	<dict>
		<key>starName</key>
		<string>双子座</string>
		<key>intro</key>
		<string>双子座符号象征着智慧</string>
		<key>emotion1</key>
		<string>多变</string>
		<key>emotion2</key>
		<string>好奇心</string>
		<key>emotion3</key>
		<string>花心</string>
		<key>age</key>
		<string>儿童</string>
	</dict>
	<dict>
		<key>starName</key>
		<string>巨蟹座</string>
		<key>intro</key>
		<string>巨蟹座符号象征着坚强</string>
		<key>emotion1</key>
		<string>温柔体贴</string>
		<key>emotion2</key>
		<string>善良</string>
		<key>emotion3</key>
		<string>同情心</string>
		<key>age</key>
		<string>少年</string>
	</dict>
	<dict>
		<key>starName</key>
		<string>狮子座</string>
		<key>intro</key>
		<string>狮子座符号象征着权力</string>
		<key>emotion1</key>
		<string>慷慨</string>
		<key>emotion2</key>
		<string>大方</string>
		<key>emotion3</key>
		<string>自负自大</string>
		<key>age</key>
		<string>青年</string>
	</dict>
	<dict>
		<key>starName</key>
		<string>处女座</string>
		<key>intro</key>
		<string>处女座符号象征着美丽</string>
		<key>emotion1</key>
		<string>完美主义</string>
		<key>emotion2</key>
		<string>挑剔</string>
		<key>emotion3</key>
		<string>认真</string>
		<key>age</key>
		<string>青年</string>
	</dict>
	<dict>
		<key>starName</key>
		<string>天秤座</string>
		<key>intro</key>
		<string>天秤座符号象征着平衡</string>
		<key>emotion1</key>
		<string>优雅</string>
		<key>emotion2</key>
		<string>公正</string>
		<key>emotion3</key>
		<string>追求和平</string>
		<key>age</key>
		<string>成年</string>
	</dict>
	<dict>
		<key>starName</key>
		<string>天蝎座</string>
		<key>intro</key>
		<string>天蝎座符号象征着神秘</string>
		<key>emotion1</key>
		<string>爱恨分明</string>
		<key>emotion2</key>
		<string>冷酷</string>
		<key>emotion3</key>
		<string>神秘</string>
		<key>age</key>
		<string>中年</string>
	</dict>
	<dict>
		<key>starName</key>
		<string>射手座</string>
		<key>intro</key>
		<string>射手座符号象征着坦率</string>
		<key>emotion1</key>
		<string>乐观</string>
		<key>emotion2</key>
		<string>热爱自由</string>
		<key>emotion3</key>
		<string>粗心</string>
		<key>age</key>
		<string>老年</string>
	</dict>
	<dict>
		<key>starName</key>
		<string>摩羯座</string>
		<key>intro</key>
		<string>摩羯座符号象征着坚韧</string>
		<key>emotion1</key>
		<string>古板</string>
		<key>emotion2</key>
		<string>稳重</string>
		<key>emotion3</key>
		<string>严肃</string>
		<key>age</key>
		<string>死亡</string>
	</dict>
	<dict>
		<key>starName</key>
		<string>水瓶座</string>
		<key>intro</key>
		<string>水瓶座符号象征着叛逆</string>
		<key>emotion1</key>
		<string>智慧</string>
		<key>emotion2</key>
		<string>独特</string>
		<key>emotion3</key>
		<string>叛逆</string>
		<key>age</key>
		<string>重生</string>
	</dict>
	<dict>
		<key>starName</key>
		<string>双鱼座</string>
		<key>intro</key>
		<string>双鱼座符号象征着复杂</string>
		<key>emotion1</key>
		<string>幻想</string>
		<key>emotion2</key>
		<string>奉献精神</string>
		<key>emotion3</key>
		<string>多情</string>
		<key>age</key>
		<string>灵魂</string>
	</dict>
</array>
</plist>
